{% extends 'base.html'%}
{% block titulo%}{{titulo}}{% endblock%}
{%block contenido%}

{%if request.session.usuario%}
    {%include 'menu.html'%}
{%endif%}

{%if not request.session.usuario%}
<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4 offset-1">
            <h1>Registration</h1>
            <form action="/registrar/" method="POST">
                {% csrf_token %}
                <label class="form-label" for="first_name">First Name</label>
                <input class="form-control" type="text" name="first_name" id="" value="{{request.session.user_first_name}}">
                <label class="form-label" for="last_name">Last Name</label>
                <input class="form-control" type="text" name="last_name" id="" value="{{request.session.user_last_name}}">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="" value="{{request.session.user_email}}">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="" value="{{request.session.user_password}}">
                <label class="form-label" for="password_confirm">Password Confirm</label>
                <input class="form-control" type="password" name="password_confirm" id="" value="{{request.session.user_password_confirm}}">
                <button type="submit" class="btn btn-secondary mt-4 px-5">Registrar</button>
            </form>
        </div>
        <div class="col-lg-4 offset-1">
            <form action="/login/" method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="" value="{{request.session.user_email_login}}">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="" value="{{request.session.user_password_login}}">
                <button type="submit" class="btn btn-secondary mt-4 px-5">Ingresar</button>
            </form>
        </div>
    </div>
</div>
{%else%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{request.session.usuario.nombre}}, Ya estas loguead@</h1>
            </div>
        </div>
    </div>
{%endif%}
{%endblock%}